body{
    text-align: center;
    background-color: white;
 }
 table{
    width: 88%;
    margin: 20px auto;
    border-collapse: collapse;
 }
 th,td{
    border: 1px solid #ddd;
    font-size: 16px;
   font-weight: bold;
    padding: 10px;
 }
 .p{
    background-color: #5499c7;
 }
 .e{
    background-color: #a2ff33;
 }
 .f{
    background-color: #DE3163;
 }
 .g{
    background-color: #7fb3d5;
 }
 .o{
    background-color: #f39c12;
 }
 th{
    background-color: #fef9e7;
 }